<!DOCTYPE html>
<html>
<head>
<title>SplitWiseX</title>
<link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>

<div class="box">

    <div class="logo">SplitWiseX</div>
    <div class="tagline">Track. Split. Settle — without awkwardness.</div>

    <div class="tabs">
        <div id="loginTab" class="active" onclick="showLogin()">Login</div>
        <div id="regTab" onclick="showRegister()">Register</div>
    </div>

    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
    {% if success %}
      <div class="success">{{ success }}</div>
    {% endif %}

    <!-- LOGIN -->
    <form id="loginForm" class="active" method="POST" action="/login">
        <input name="mobile" placeholder="📱 Mobile number" required>
        <input type="password" name="password" placeholder="🔒 Password" required>
        <button>Login</button>
    </form>

    <!-- REGISTER -->
    <form id="regForm" method="POST" action="/register">
        <input name="name" placeholder="👤 Full name" required>
        <input name="mobile" placeholder="📱 Mobile number" required>
        <input type="password" name="password" placeholder="🔒 Password" required>
        <button>Create Account</button>
    </form>

</div>

<script src="/static/js/auth.js"></script>
</body>
</html>
